{% extends "@User/Page_Admin.html.twig" %}

{% block body %}
    <div class="col-lg-20">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table class="mb-0 table table-hover">
                    <thead>

                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Evenement</th>
                        <th>Date Reservation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for e in event %}

                        <td>{{ e.id }}</td>
                        <td>{{ e.getIdUser.username}}</td>
                        <td>{{ e.getIdevenement.titre}}</td>
                        <td>{{ e.dateRes}}</td>
                        <td><a href="{{ path('Reservation_Delete',{'id':e.id}) }}">Annuler</a><br></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
